
.app .header {
  width: 50vw;
  margin-bottom: 1em;
}

.app .header input {
  width: calc(100% - 85px);
  min-width: 100px;
  color: white;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: 0;
  border-bottom: solid 2px red;
  background: transparent;
}

.app .header input::placeholder {
  color: white;
}

.app .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0;
  color: white;
  background-color: black;
  border: 0;
  font-weight: 600;
}

.app .header button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  transition: 1s;
}

.app .container {
  display: flex;
  justify-content: space-between;
}

.theList {
  width: calc(50vw - 50px - 2em);
}

.app .container:first-child {
  margin-right: 2em;
}

.app .theList .item .item_text {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.app .theList .item {
  position: relative;
  color: #333;
  padding: 15px 50px;
  padding-right: 60px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 5px solid transparent;
}

.app .theList .item:hover {
  border: 5px solid white;
  transition: 0.5s;
}

.app .theList .item input[type=checkbox] {
  display: none;
}

.app .theList .item label {
  position: absolute;
  left: 15px;
  top: 15px;

}

.app .theList .item label span:before {
  content: "\2714";
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  width: calc(1em - 2px);
  height: 1em;
  margin-right: 1em;
  color: transparent;
  transform: scale(2);
  padding-left: 2px;
}

.app .theList .item input[type=checkbox]:checked + span:before {
  content: "\2714";
  background-color: transparent;
  display: inline-block;
  width: calc(1em - 2px);
  height: 1em;
  margin-right: 1em;
  color: black;
  transform: scale(2);
  padding-left: 2px;
}

.app .theList .item label:hover {
  cursor: pointer;
}

.app .theList .item input[type=checkbox]:hover ~ .item_text {
  color: green;
  transition: 1s;
}

.app .theList .item .priority {
  font-size: 20px;
  background-color: white;
  width: 25px;
  border: 0;
  position: absolute;
  right: 1em;
  padding: .3em;
  background-color: transparent;
  border-bottom: solid 2px white;
}

.app .theList .priority_1 {
  background-image: linear-gradient(to top right, #ffff32, yellow);
}

.app .theList .priority_2 {
  background-image: linear-gradient(to top right, #ffb732, orange);
}

.app .theList .priority_3 {
  background-image: linear-gradient(to top right, #ff3232, red);
}

.app .theList .item.done_true {
  background-image: linear-gradient(to top right, #329932, green);
}

.app .theList .item .close {
  font-weight: 800;
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.app .theList .item .close:hover {
  cursor: pointer;
  color: #7f0000;
}

.app .theList .item .close:hover + .item_text {
  text-decoration: line-through;
  color: #7f0000;
  transition: 1s;
}

@media only screen and (max-width: 700px) {
  .app .header {
    width: 100%;
    margin-bottom: 1em;
  }

  .app .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  body {
    padding: 0;
  }

  .app .theList {
    width: 100%;
    margin: 2em 0;
  }
}
