:root {
  background-image: linear-gradient(to top right, #a1c4fd, #c2e9fb);
  min-height: 100%;
}

body {
  padding: 50px;

  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: flex;
}
